#copy {
    bottom: 0;
    left: 0;
    position: fixed;
    margin-left: 90%;
}

#copy1 {
    bottom: 0;
    left: 0;
    position: fixed;
    margin-left: 80%;
}

#start {
    bottom: 0;
    left: 0;
    position: fixed;
}