.copy {
  bottom: 0;
  left: 0;
  margin-left: 90%;
  position: fixed;

}

.copy1 {
  bottom: 0;
  left: 0;
  margin-left: 80%;
  position: fixed;

}

.start {
  bottom: 0;
  left: 0;
  position: fixed;
}

.imageScroll {
  width: 180px;
}

.divScroll {
  display: flex;
  overflow-x:scroll;
}